#!/bin/sh -- : enable syntax coloring in mcedit

## GENERATED FROM OUTPUT OF "doveconf -n -P" ##

protocols = "imap"

mail_gid = {{ vmail_user }}
mail_uid = {{ vmail_group }}
mail_location = maildir:{{ vmail_home }}/%d/%n

ssl_client_ca_dir = /etc/ssl/certs
ssl_cert = <{{ sslcrt_path }}
ssl_key  = <{{ sslkey_path }}

passdb {
  args = scheme=CRYPT username_format=%u {{ dovecot_userlist }}
  driver = passwd-file
}

userdb {
  args = uid={{ vmail_user }} gid={{ vmail_group }} home={{ vmail_home }}/%d/%n
  driver = static
}

service auth {
  # see also "smtpd_sasl_path" in /etc/postfix/main.cf
  unix_listener /var/spool/postfix/private/auth {
    group = postfix
    mode = 0660
    user = postfix
  }
}

namespace inbox {
  inbox = yes
  mailbox Drafts {
    special_use = \Drafts
  }
  mailbox Junk {
    special_use = \Junk
  }
  mailbox Sent {
    special_use = \Sent
  }
  mailbox "Sent Messages" {
    special_use = \Sent
  }
  mailbox Trash {
    special_use = \Trash
  }
}

## END ##
