#!/bin/sh

if test $# = 0; then

    "{{ dehydrated_binary }}" -c -x $(sed 's,^,-d ,' {{ postfix_vdomains }}) -k "$0" > "/var/log/${0##*/}.log" 2>&1

elif test "$1" = "deploy_cert"; then  # ..called as hook from dehydrated

    systemctl reload postfix
    systemctl reload dovecot

else        # ..called as hook, do nothing
    exit 0
fi

## END ##
