#!/bin/sh

DOVECOT_USERS="{{ dovecot_userlist }}"
POSTFIX_USERS="{{ postfix_vmailboxes }}"
POSTFIX_DOMAINS="{{ postfix_vdomains }}"
DEFAULT_DOMAIN="$(head -1 "$POSTFIX_DOMAINS")"

test "$#" = "2" || test "$#" = "3" || { echo "Usage: ${0##*/} command email [password]"; exit 1; }

email="$2"
password="$3"

case "$email" in
  *@* ) ;;
  *   ) test -z "$DEFAULT_DOMAIN" && { echo "Cannot read default domain from $POSTFIX_DOMAINS"; exit 1; }
        email="${email}@$DEFAULT_DOMAIN"
        ;;
esac

case "$1" in

"add")
	if egrep -q "^$email +OK$" "$POSTFIX_USERS"; then
		echo "$email already exists in $POSTFIX_USERS, SKIPPED."
	else
		echo "$email OK" >> "$POSTFIX_USERS"
		postmap "$POSTFIX_USERS"
	fi

	if grep -q "^${email}:" "$DOVECOT_USERS"; then
		echo "$email already exists in $DOVECOT_USERS, SKIPPED."
	else
		: "${password:=$(doveadm pw -s SSHA512)}"
		echo "${email}:${password}" >> "$DOVECOT_USERS"
	fi
	;;

"delete"  ) echo "TODO" ;;
"password") echo "TODO" ;;

* ) echo "Unknown command, must be one from: add, delete, password"; exit 1 ;;

esac

## END ##
