#!/bin/sh -- : enable syntax coloring in mcedit

## BEGIN OF ADDED SETTINGS ##

virtual_transport = dovecot
virtual_mailbox_domains =   {{ postfix_vdomains }}
virtual_alias_maps   = hash:{{ postfix_virtual }}
virtual_mailbox_maps = hash:{{ postfix_vmailboxes }}

dovecot_destination_recipient_limit = 1
dovecot_destination_concurrency_limit = 1

smtpd_sasl_type = dovecot
smtpd_sasl_path = private/auth
smtpd_sasl_auth_enable = yes
smtpd_sasl_security_options = noanonymous

smtpd_reject_unlisted_recipient = yes
smtpd_reject_unlisted_sender = yes

smtpd_client_restrictions    = permit_mynetworks permit_sasl_authenticated reject

## END OF ADDED SETTINGS ##
## BEGIN OF DEFAULT FILE ##
## THE ONLY CHANGED SETTING BELOW IS smtpd_tls_{key,cert}_file ##

# See /usr/share/postfix/main.cf.dist for a commented, more complete version


# Debian specific:  Specifying a file name will cause the first
# line of that file to be used as the name.  The Debian default
# is /etc/mailname.
#myorigin = /etc/mailname

smtpd_banner = $myhostname ESMTP $mail_name (Ubuntu)
biff = no

# appending .domain is the MUA's job.
append_dot_mydomain = no

# Uncomment the next line to generate "delayed mail" warnings
#delay_warning_time = 4h

readme_directory = no

# See http://www.postfix.org/COMPATIBILITY_README.html -- default to 2 on
# fresh installs.
compatibility_level = 2

# TLS parameters
smtpd_tls_cert_file={{ sslcrt_path }}
smtpd_tls_key_file={{ sslkey_path }}

smtpd_use_tls=yes
smtpd_tls_session_cache_database = btree:${data_directory}/smtpd_scache
smtp_tls_session_cache_database = btree:${data_directory}/smtp_scache

# See /usr/share/doc/postfix/TLS_README.gz in the postfix-doc package for
# information on enabling SSL in the smtp client.

smtpd_relay_restrictions = permit_mynetworks permit_sasl_authenticated defer_unauth_destination
myhostname = localhost
alias_maps = hash:/etc/aliases
alias_database = hash:/etc/aliases
mydestination = $myhostname, localhost, localhost.localdomain, , localhost
relayhost = 
mynetworks = 127.0.0.0/8 [::ffff:127.0.0.0]/104 [::1]/128
mailbox_size_limit = 0
recipient_delimiter = +
inet_interfaces = all
inet_protocols = all
